<head>
    <title>Wakapi – 编程统计</title>
    <base href="{{ getBasePath }}/">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta property="og:title" content="Wakapi - 编程统计" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Wakapi 是一个开源工具，可帮助您记录在不同项目中、使用不同编程语言编写代码所花费的时间。适合统计爱好者和所有开发者。">
    <meta property="og:image" content="assets/images/screenshot.webp" />
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon-16x16.png">
    <link rel="manifest" href="assets/site.webmanifest">
    <link href="assets/vendor/source-sans-3.css" rel="stylesheet">
    <link href="assets/css/app.dist.css?v={{ getCacheBuster }}" rel="stylesheet">
    <script src="assets/vendor/petite-vue.min.js" defer></script>
</head>